/*************************************************
 *  Footer
 **************************************************/

footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  width: 100%;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
}
